.topbar .top-navbar .navbar-header .navbar-brand .logo-icon {
  width: 200% !important;
}

/*--------------------------------------------------------------
# Preloader2
--------------------------------------------------------------*/
#preloader2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffffff82;
}

#preloader2:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #1977cc;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #1c84e3;
  color: #fff;
}

/*---------------------------------------------------------------
# 
---------------------------------------------------------------*/
.datepicker-dropdown {
  padding: 20px !important;
}

.modal-dialog.large {
  width: 80% !important;
  max-width: unset;
}
.modal-dialog.mid-large {
  width: 50% !important;
  max-width: unset;
}
div#confirm_modal {
  z-index: 9991;
}

/* Modal */
.modal-xl {
  max-width: 90% !important;
}